#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

#myTable th, #myTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#myTable th {
    background-color: #f2f2f2;
}

/* Estilos para el menú de paginación */
.dataTables_paginate {
    margin-top: 10px;
}

.dataTables_paginate .paginate_button {
    padding: 5px 10px;
    margin: 0 3px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
}

.dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button:hover {
    background-color: #ccc;
    color: #fff;
}