

<!-- Buenas, he intentado declarar este css en el archivo listado.info.yml, pero no me lo coge-->
<style>

    /* Estilos para la tabla */
    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
    }

    #myTable th, #myTable td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    #myTable th {
        background-color: #f2f2f2;
    }

    /* Estilos para el menú de paginación */
    .dataTables_paginate {
        margin-top: 10px;
    }

    .dataTables_paginate .paginate_button {
        padding: 5px 10px;
        margin: 0 3px;
        border: 1px solid #ccc;
        background-color: #fff;
        color: #333;
        cursor: pointer;
    }

    .dataTables_paginate .paginate_button.current, .dataTables_paginate .paginate_button:hover {
        background-color: #ccc;
        color: #fff;
    }
</style>

<table id="myTable" class="display">
    <thead>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Name</th>
        <th>Surname 1</th>
        <th>Surname 2</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Estilos de Bootstrap para Datatables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap.min.css">

<!-- Datatables JavaScript -->
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {

        var baseURL = Drupal.url('listado/cargarUsuarios/');
        $('#myTable').DataTable({
            "ajax": {
                "url": baseURL,
                "type": "POST",
                "dataType": "json",
                "dataSrc": ""
            },
            "columns": [
                { "data": "username", "searchable": false },
                { "data": "email", "searchable": false },
                { "data": "name", "searchable": true },
                { "data": "surname1", "searchable": true },
                { "data": "surname2", "searchable": true }
            ],
            "pageLength": 5,
            "lengthChange": false,
            "ordering": false,
            "searching": true
        });
    });

</script>

